Django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
celery
aiogram
psycopg2-binary
django-filter
drf-spectacular
celery
rabbitmq
redis
python-telegram-bot
gunicorn
sqlparse
asgiref
kombu
django-environ