Django==4.2.17
djangorestframework==3.15.2
drf_yasg==1.20.0
djangorestframework-simplejwt
python-telegram-bot
requests
drf-spectacular
django-cors-headers==4.6.0
gunicorn==22.0.0
Pillow==11.1.0
django-filter>=2.4
django-environ
psycopg2-binary
celery==5.3.4
redis==5.0.1
kombu==5.3.2