Django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
celery
aiogram
psycopg2-binary
django-filter
python-telegram-bot
gunicorn
sqlparse
asgiref
kombu
django-celery-beat
django-celery-results
django-environ
redis
django-cors-headers
pillow
nest_asyncio
whitenoise
requests
drf-extra-fields